@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617; /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #9333ea, #ec4899);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #a855f7, #f472b6);
}
* {
  scrollbar-width: thin;
  scrollbar-color: #9333ea #020617;
}
